.page {
  background-color: #2A2C2F;
}

.header {
  position: relative;
  min-width: 1184px;
  height: 52px;
  padding: 28 48 74;
}

.header__logo {
  position: absolute;
  width: 176px;
  height: 52px;
  margin-top: 28px;
  margin-left: 48px;
}

.header__links {
  position: absolute;
  top: 46px;
  right: 48px;
}

.header__lang-link {
  width: 30px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.lead {
  padding-top: 74px;
  margin-left: auto;
  margin-right: auto;
  max-width: 984px
}

.lead__title {
  color: #FFFFFF;
  height: 200px;
  width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}

.lead__subtitle {
  color: #FFFFFF;
  margin: 0 auto;
  height: 72px;
  width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 100%;
  height: 615px;
}

.intro {

}

.intro__title {

}

.photo-grid {
  display: grid;
}
