.header {
  display: flex;
  position: relative;
  max-width: 100%;
  min-height: 52px;
  padding: 28px 0 74px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 320px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    padding: 16px 0 48px;
  }
}


@media screen and (max-width: 768px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }
}

