.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  margin-right: 18px;
}

@media screen and (max-width: 360px) {
  .footer__link {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 24px;
  }
}
