.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  margin-left: auto;
}

@media screen and (max-width: 360px) {
  .footer__copyright {
    line-height: 14px;
    position: relative;
    margin-left: 0;
  }
}
