.place__heading {
    grid-area: place__heading;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: #aaa;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  @media screen and (max-width: 768px) {
    .place__heading {
        margin-top: 0;
    }
  }
  
  @media screen and (max-width: 360px) {
    .place__heading {
        margin-bottom: 12px;
    }
  }
  