.cover__title {
  text-align: center;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  z-index: 20;
  max-width: 560px;
  margin: 0;
  margin-bottom: 32px;
}


@media screen and (max-width: 580px) {
  .cover__title {
      max-width: 255px;
      font-size: 32px;
      line-height: 109%;
     
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-bottom: 16px;   
  }
}