.footer {
  display: flex;
  position: relative;
  max-width: 100%;
  padding-top: 92px;
  padding-bottom: 24px;
  margin-right: 48px;
  margin-left: 48px;
  box-sizing: content-box;
}

@media screen and (max-width: 780px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 360px) {
  .footer {
    padding-top: 64px;
    margin-left: 16px;
  }
}
